#booking {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "top top"
    "left-button right-button";
}

#top {
    grid-area: top;
}

#notes {
    width: 100%;
    min-height: 200px;
    font-size: 16px;
    border: 1px solid #aaa;
    padding: 5px;
    margin-bottom: 50px
}

#left-button {
    grid-area: left-button;
    margin-left: 80px;
    margin-right: 80px;
}

#right-button {
    grid-area: right-button;
    margin-left: 80px;
    margin-right: 80px;
}
