{% extends 'pebookingsystem/welcome.html' %}

{% block explain %}
    <div class="content-text">
        Welcome to the Cheney School parents' evening booking system!<br>
        <br>
        To view your bookings, click on the relevant parents' evening in the left navigation
        bar then navigate to your class. Once you have selected a class, click 'View' next to
        a timeslot to see who has booked it and any notes they have written down.<br>
        <br>
        To book a parents' evening on behalf of a student, click 'Book' next to an available
        timeslot on the relevent class page, then select the student. You can remove any of
        your bookings at any time by clicking 'Remove' on the view booking page.<br>
        <br>
        To get back to this page, click on the title in the header or use the top navigation bar.
    </div>
{% endblock %}

{% block bookings %}
    <table id="bookings-table">
        <tr>
            <th class="bookings-table-heading">Parents' Evening</th>
            <th class="bookings-table-heading">Class</th>
            <th class="bookings-table-heading">Student</th>
            <th class="bookings-table-heading">Date</th>
            <th class="bookings-table-heading">Timeslot</th>
        </tr>
            {% if bookings|length > 0 %}
                {% for booking in bookings %}
                    <tr>
                        <th class="bookings-table-row">{{ booking.parentsevening__pename }}</th>
                        <th class="bookings-table-row">{{ booking.schoolclass__classname }}</th>
                        <th class="bookings-table-row">{{ booking.student__fullname }}</th>
                        <th class="bookings-table-row">{{ booking.parentsevening__date }}</th>
                        <th class="bookings-table-row">{{ booking.timeslot|time:"H:i" }}</th>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th class="bookings-table-row">No Bookings</th>
                    <th class="bookings-table-row">No Bookings</th>
                    <th class="bookings-table-row">No Bookings</th>
                    <th class="bookings-table-row">No Bookings</th>
                    <th class="bookings-table-row">No Bookings</th>
                </tr>
            {% endif %}
    </table>
{% endblock %}
